@import "variable";
@import "progress_bar";
@import "custom_checkbox";

/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(../font/open-sans.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(../font/open-sans-bold.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  cursor: default;
  user-select: none;
}

body, input, button {
  font-family: 'Open Sans', sans-serif;
  color: #333;
}

a {
  text-decoration: none;
  color: $primary__color;

  &:hover {
    color: darken($primary__color, 20%);
  }
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 1rem;
  padding: 0;
  line-height: 2em;
}

.field {
  display: flex;
  align-items: center;
  line-height: 1em;
}

h1 {
  margin-top: 0;
  margin-bottom: 2rem;
}

.form-input, .select-font-weight-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}

input[type="text"], button {
  padding: 10px;
  border: 1px solid #4a9ae8;
  border-radius: 3px;

  &:focus {
    outline: none;
    border-color: #1766cd;
  }
}

input[type="text"] {
  min-width: 268px;
}

button {
  cursor: pointer;
  background-color: $primary__color;
  color: #fff;

  &:hover {
    background-color: darken($primary__color, 10%);
    border-color: darken($primary__color, 20%);
  }

  &[disabled] {
    background-color: #e1e1e1;
    border-color: #c0c0c0;
    color: #999;
    cursor: default;
  }
}

.description {
  font-size: .8em;
  color: #999;
  font-weight: normal;
}

#open-dir {
  visibility: hidden;

  span {
    color: $primary__color;
    cursor: pointer;
  }
}

.select-font-weight-wrapper {
  justify-content: space-between;

  .select {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 120px;
  }
}

#font-weight {
  line-height: 2.5rem;
  font-size: .7em;
  font-weight: bold;
  text-align: center;

  label {
    display: inline-block;

    &:not(:nth-child(6n+0)) {
      margin-right: 10px;
    }

    &:nth-child(-n+12) {
      margin-bottom: 10px;
    }

    > span {
      min-width: 105px;
      max-width: 105px;
      display: inline-block;
      text-align: center;
    }
  }
}